@font-face {
  font-family: "font-title";
  src: url(../../fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "font-text";
  src: url(../../fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "font-text", sans-serif;
}

a {
  color: black;
}

/** HEADER **/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
  position: relative;
  z-index: 2;
}
header img {
  width: 197px;
  height: 36px;
  margin: 14px;
}

/** BOUTONS**/
.btn {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2509803922);
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 18px;
  transition: 0.3s all;
  width: 200px;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

/** FOOTER **/
footer {
  background: #353535;
  color: #ffffff;
}
footer a {
  color: white;
}
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
}
footer h4 {
  font-family: "font-title", sans-serif;
  font-style: 18px;
  font-weight: 400;
  padding: 22px 25px;
  gap: 16px;
}
footer .container-link {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 0 25px;
}
@media screen and (min-width: 1024px) {
  footer .container-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
footer .link {
  display: flex;
  gap: 10px;
}
footer .link i {
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container-link-nav {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  footer .container-link-nav {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 20px;
  }
}
footer .container-link-nav a {
  color: white;
  font-style: 16px;
}

/** LOCALISATION **/
.localisation-container {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
  position: relative;
  z-index: 1;
}
.localisation-container i {
  color: #353535;
  width: 12px;
  height: 16px;
}
.localisation-container input {
  font-size: 16px;
  max-width: 110px;
  background: transparent;
  border: none;
}

/** MENU **/
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
}
.menu .menu-reservation {
  width: 80%;
  text-align: center;
  margin-bottom: 50px;
}
.menu .menu-reservation h1 {
  font-size: 24px;
  line-height: 28px;
  margin: 50px 0 20px;
}
.menu .menu-reservation p {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 30px;
}
.menu .menu-reservation .btn-home {
  width: 218px;
  height: 50px;
}

/** FONCTIONNEMENT **/
.container-fonctionnement {
  padding: 60px 0;
}
.container-fonctionnement h2 {
  max-width: 200px;
  margin: 20px;
}
.container-fonctionnement .container-steps {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 40px;
}
@media screen and (min-width: 720px) {
  .container-fonctionnement .container-steps {
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  .container-fonctionnement .container-steps {
    display: flex;
    flex-direction: row;
  }
}
.container-fonctionnement .step-fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #f6f6f6;
  max-width: 320px;
  border-radius: 20px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1490196078);
  position: relative;
  flex: 1;
  padding: 25px 40px;
}
.container-fonctionnement .circle-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356dc;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  color: white;
  position: absolute;
  left: -12px;
  top: calc(50% - 12.5px);
}
.container-fonctionnement i {
  color: #7e7e7e;
}
.container-fonctionnement .fa-store {
  color: #9356dc;
}
.container-fonctionnement p {
  font-size: 16px;
  font-weight: 600;
}

/** RESTAURANT **/
#container-restaurants {
  padding: 50px 0;
  background: #f3f3f3;
}
#container-restaurants h2 {
  font-size: 24px;
  margin: 20px;
}
#container-restaurants .container-cards-restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 0 20px;
  max-width: 1080px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  #container-restaurants .container-cards-restaurant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 10px;
  }
}
@media screen and (min-width: 1200px) {
  #container-restaurants .container-cards-restaurant {
    grid-gap: 50px 80px;
  }
}
#container-restaurants .container-cards-restaurant a {
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 769px) {
  #container-restaurants .container-cards-restaurant a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#container-restaurants .card-restaurant {
  background: #ffffff;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1019607843);
  position: relative;
  width: 300px;
  max-width: 490px;
}
@media screen and (min-width: 375px) {
  #container-restaurants .card-restaurant {
    width: 350px;
  }
}
@media screen and (min-width: 1024px) {
  #container-restaurants .card-restaurant {
    width: 490px;
  }
}
#container-restaurants .container-img {
  display: flex;
}
#container-restaurants .container-img img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 230px;
  object-fit: cover;
}
#container-restaurants .container-img .nouveau {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #99e2d0;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 14px;
  color: #008766;
  font-weight: 600;
}
#container-restaurants .container-card-bottom {
  display: flex;
  padding: 10px 0;
}
#container-restaurants .container-card-bottom .container-text {
  margin-left: 13px;
  width: 70%;
}
#container-restaurants .container-card-bottom .container-text h3 {
  font-size: 18px;
}
#container-restaurants .container-card-bottom .container-text p {
  font-size: 17px;
}
#container-restaurants .container-card-bottom .container-icon {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 30%;
}
#container-restaurants .container-card-bottom .container-icon button {
  background: none;
  border: none;
  cursor: pointer;
}
#container-restaurants .container-card-bottom .container-icon i {
  margin-right: 13px;
  font-size: 22px;
  font-weight: lighter;
  position: absolute;
  z-index: 2;
  right: 0;
}
#container-restaurants .container-card-bottom .container-icon i:active, #container-restaurants .container-card-bottom .container-icon i:hover {
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  background-clip: text;
  color: transparent;
}

/*# sourceMappingURL=accueil.css.map */
