//FONTS
@font-face {
    font-family: "font-title";
    src: url(../../fonts/Shrikhand-Regular.ttf);
}
@font-face {
    font-family: "font-text";
    src: url(../../fonts/Roboto-Regular.ttf);
}

$font-title: "font-title", sans-serif;
$font-text: "font-text", sans-serif;

//COLORS
$color-purple: #9356dc;
$color-pink: #ff79da;
$color-light-green: #99e2d0;

//MIXIN
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}