@import "_settings";
@import "global";

/*** LOADER ***/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    @include center;
    z-index: 9999;
    animation: fadeOut 4s forwards;
  
    .background {
      position: absolute; 
      top: 0;
      left: 0;
      width: 100%; 
      height: 100%; 
      background-color: #fff; 
    }
  
    .spinner {
      position: relative; 
      width: 20.2px; 
      height: 20.2px; 
  
      div {
        animation: spinner-4t3wzl 1.875s infinite backwards;
        background-color: $color-purple;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        position: absolute;
  
        &:nth-child(1) {
          animation-delay: 0.15s;
          background-color: $color-purple;
        }
  
        &:nth-child(2) {
          animation-delay: 0.3s;
          background-color: $color-purple;
        }
  
        &:nth-child(3) {
          animation-delay: 0.45s;
          background-color: $color-purple;
        }
  
        &:nth-child(4) {
          animation-delay: 0.6s;
          background-color: $color-purple;
        }
  
        &:nth-child(5) {
          animation-delay: 0.75s;
          background-color: $color-purple;
        }
      }
    }
  }
  
  @keyframes spinner-4t3wzl {
    0% {
      transform: rotate(0deg) translateY(-200%);
    }
  
    60%, 100% {
      transform: rotate(360deg) translateY(-200%);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1; 
    }
    50% {
      opacity: 1; 
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
  }

/** LOCALISATION **/
.localisation-container {
    background: #eaeaea;
    @include center;
    gap: 17px;
    height: 50px;
    box-shadow: 0 4px 4px 0 #00000040;
    position: relative;
    z-index: 1;

    i {
        color: #353535;
        width: 12px;
        height: 16px;
    }

    input {
        font-size: 16px;
        max-width: 110px;
        background: transparent;
        border: none;
    }
}

/** MENU **/
.menu {
    @include center;
    background: #f3f3f3;

    .menu-reservation {
        width: 80%;
        text-align: center;
        margin-bottom: 50px;

        h1 {
            font-size: 24px;
            line-height: 28px;
            margin: 50px 0 20px;
        }

        p {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 30px;
        }

        .btn-home {
            width: 218px;
            height: 50px;
        }
    }
}

/** FONCTIONNEMENT **/
.container-principal-fonctionnement {
    @include center;
    flex-direction: column;

    .container-fonctionnement {
        padding: 60px 0;

        h2 {
            max-width: 200px;
        }

        .container-steps {
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 40px;

            @media screen and (min-width: 720px) {
                flex-direction: column;
            }
            @media screen and (min-width: 1024px) {
                display: flex;
                flex-direction: row;
            }
        }
        .step-fonctionnement {
            @include center;
            gap: 20px;
            background: #f6f6f6;
            max-width: 320px;
            border-radius: 20px;
            box-shadow: 0 4px 15px 0 #00000026;
            position: relative;
            flex: 1;
            padding: 25px;

            @media screen and (min-width: 1024px) {
                width: 400px;
            }
        }

        .circle-number {
            @include center;
            background: $color-purple;
            width: 25px;
            height: 25px;
            border-radius: 50px;
            color: white;
            position: absolute;
            left: -12px;
            top: calc(50% - (25px / 2));
        }

        i {
            color: #7e7e7e;
        }

        .fa-store {
            color: $color-purple;
        }

        p {
            font-size: 16px;
            font-weight: 600;
        }
    }
}

/** RESTAURANT **/
.container-principal-restaurant {
    @include center;
    background: #f3f3f3;

    #container-restaurants {
        margin-bottom: 40px;
        h2 {
            font-size: 24px;
            margin: 30px 0;
        }

        .container-cards-restaurant {
            @include center;
            flex-direction: column;
            gap: 40px;
            max-width: 1080px;

            @media screen and (min-width: 1024px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 30px 10px;
            }
            @media screen and (min-width: 1200px) {
                grid-gap: 50px 80px;
            }

            a {
                position: relative;
                z-index: 1;

                @media screen and (min-width: 769px) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .card-restaurant {
            background: #ffffff;
            height: auto;
            border-radius: 15px;
            box-shadow: 0 4px 15px 0 #0000001a;
            position: relative;
            width: 300px;
            max-width: 590px;

            @media screen and (min-width: 375px) {
                width: 350px;
            }
            @media screen and (min-width: 1024px) {
                width: 490px;
            }
        }
        .container-img {
            display: flex;

            img {
                width: 100%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                height: 230px;
                object-fit: cover;
            }

            .nouveau {
                position: absolute;
                top: 10px;
                right: 10px;
                background: $color-light-green;
                width: 80px;
                height: 30px;
                @include center;
                border-radius: 2px;
                font-size: 14px;
                color: #008766;
                font-weight: 600;
            }
        }

        .container-card-bottom {
            display: flex;
            padding: 10px 0;
            position: relative;

            .container-text {
                margin-left: 13px;
                width: 70%;

                h3 {
                    font-size: 18px;
                }

                p {
                    font-size: 17px;
                }
            }

            .container-icon {
                display: flex;
                align-items: center;
                justify-content: end;
                width: 30%;

                button {
                    background: none;
                    border: none;
                    cursor: pointer;

                    .fa-solid {
                        font-size: 25px;
                        opacity: 0;
                        right: 15px;
                        bottom: 22px;
                        position: absolute;
                        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
                        background: linear-gradient(to bottom, #FF79DA, #9356DC);
                        -webkit-background-clip: text; 
                        color: transparent;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    .fa-regular {
                        position: absolute;
                        right: 15px;
                        bottom: 22px;
                        font-size: 25px;

                        &:hover {
                            opacity: 0;
                        }
                    }
                }

            }
        }
    }
}
